<div class="container header">
    <div class="container">
        <h1 class="display-3 add-items-heading" style="text-align:center;">Add Menu Items</h1>
    </div>
</div>


<div class="container add-menu-item-form">
    <div class="row">
        <form class="form" action="/menu/add" method="post">
            <fieldset class="form-group">
                <label for="item-name">Menu Item Name:</label>
                <input type="text" class="form-control" id="item-name" name="name">
            </fieldset>
            <fieldset class="form-group">
                <label for="item-description"> Description:</label>
                <input type="text" class="form-control" id="item-description" name="description">
            </fieldset>
            <fieldset class="form-group">
                <label for="item-category"> Category:</label>
                <input type="text" class="form-control" id="item-category" name="category">
            </fieldset>
            <fieldset class="form-group">
                <label for="item-price"> Price:</label>
                <input type="text" class="form-control" id="item-price" name="price">
            </fieldset>
            <button type="submit" class="btn btn-success btn-menu">Submit</button>
        </form>
    </div>
</div>