<div class="jumbotron jumbotron-fluid col-6">
    <div class="container">
        <h1 class="display-3" style="text-align:center;">Add Menu Items</h1>
        <p class="lead" style="text-align:center;">Please enter items that you'd like to add to the menu.</p>
    </div>
</div>

<div class="container col-6">
    <div class="row">
        <p>Menu Items</p>
    </div>
</div>

<div class="container">
    <div class="row"></div>
    <form action="/html/tags/html_form_tag_action.cfm">
        <fieldset class="form-group">
            <label for="first_name">Add a menu item:</label>
            <input type="text" class="form-control" id="first_name" name="first_name">
        </fieldset>
    
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>


{{#each menuItems}}
<div class="container">
    <div class="row">
        <div class="col-md-2">{{{ this.category }}}</div>
    </div>
</div>
{{/each }}