<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Add Menu Items</h1>
        <p class="lead">Please enter items that you'd like to add to the menu.</p>
    </div>
</div>

{{#each menuItems}}
<div class="container">
    <div class="row">
        <div class="col-md-2">{{{ this.category }}}</div>
    </div>
</div>
{{/each }}