 {{#each menuItems}}
<div class="card" style="width: 30rem;">
    <img class="card-img-top" src="/public/assets/img/gyros.jpg" alt="Card image">
    <div class="card-block">
        <h4 class="card-title">{{{ this.name }}}</h4>
        <p class="card-text">Category: {{{ this.category }}}</p>
        <p class="card-text">{{{ this.description }}}</p>
        <a href="#" class="btn btn-primary">{{{ this.price }}}</a> 
    </div>
</div>
<br>
  {{/each}}