<div class="container order-header">
    <div class="container">
        <h1 class="display-3 large-text your-order-heading">Your Order</h1>
    </div>
</div>

<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    <h4>Menu Item</h4>
                </th>
                <th>
                    <h4>Price</h4>
                </th>
                <th>
                    <h4>Quantity</h4>
                </th>
            </tr>
        </thead>
        <tbody id="menuitems-list"></tbody>
    </table>
</div>
<br>
<br>
<br> 
<footer class="footer order-total">
    <div class="container total-container">
        <button id="update-total-button" class="btn btn-primary" role="button">Update Total</button>
        <h3 class="subtotal-class">Subtotal: <strong id="subtotal"></strong></h3>
        <h1>Total: <strong id="total"></strong></h1>
        <div class="container btn-group tips" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary btn-sm tip-button" id="add-10" data-tip-multiplier="1.10">Add 10% tip</button>
            <button type="button" class="btn btn-success btn-sm tip-button" id="add-15" data-tip-multiplier="1.15">Add 15% tip</button>
            <button type="button" class="btn btn-danger btn-sm tip-button" id= "add-20" data-tip-multiplier="1.20">Add 20% tip</button>
        </div>
    </div>
</footer>

{{!--Handlebars raw helper: Will iterate through orderableaMenuItems and append to order table dynamic values --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
{{{{raw-helper}}}}
<script id="menuitems-list-template" type="text/x-handlebars-template">
    {{#each orderableMenuItems}}
    <tr class="menuitem-details">
        <td class="menuitem-name">{{this.name}}</td>
        <td class="menuitem-price">{{this.price}}</td>
        <td><input class="menuitem-quantity" type="number" name="quantity" min="0" max="10" value="1"></td>
    </tr>
    {{/each}}
</script>
{{{{/raw-helper}}}}
<script src="/assets/js/renderOrder.js"></script>