<div class="container signin">
    <form class="form-group" name="signin" id="signin" method="post" action="signin">
        <h2>Login</h2>
        <label class="sr-only" for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name">

        <label class="sr-only" for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">

        <button type="submit" class="btn btn-primary" value="Sign In"> Submit</button>
    </form>
</div>