{{#if error}}
<div class="alert alert-danger" role="alert">
    <strong>Oh snap!</strong> {{error}}
</div>
{{/if}}

<div class="container signin">
    <div class="row">
        <div class="col signin-box">
            <form class="form-group" name="signin" id="signin" method="post" action="signin">
                <div class=" signin-heading">
                    <h1>Login</h1>
                    <hr>
                </div>
                <label class="sr-only" for="username">Username</label>
                <input type="text" class="form-control text-center" id="username" name="userName" placeholder="Username">

                <label class="sr-only" for="password">Password</label>
                <input type="password" class="form-control text-center" id="password" name="password" placeholder="Password">

                <button type="submit" class="btn btn-primary submit-signin" value="Sign In"> Submit</button>
            </form>
        </div>
    </div>

</div>