{{#if error}}
    <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> {{error}}
    </div>
{{/if}}

<div class="container signup-box">
    <form class="form-group" id="signup" name="signup" method="post" action="/signup">
        <div class=" signup-heading">
            <h2>Sign Up</h2>
        </div>
        <label class="sr-only" for="username">Username</label>
        <input type="text" class="form-control" id="username" name="userName" placeholder="Username" required>

        <label class="sr-only" for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>

        <button type="submit" class="btn btn-primary" value="Sign In">Submit</button>
    </form>
</div>