/*Main page  */

nav.navbar.navbar-toggleable {
    color: #f7f7f7;
    background-color: black;
}

a.navbar-brand {
    color: #fff;
}

a.nav-link {
    color: #fff;
}

div.signup-heading {
    margin-top: 15px;
    margin-right: 10px;
}

form#signup.form-group {
    width: 25%;
}

div.signin-heading {
    margin-top: 15px;
    margin-right: 10px;
}

input#username.form-control {
    margin-bottom: 10px;
}

.login-form {
    padding-top: 40px;
}

.jumbotron-fluid {
    /* background: linear-gradient(135deg, #170b32 0%, #3d3379 100%); */
}


/*Order Page  */

.header,
.order-header {
    /* background: linear-gradient(135deg, #170b32 0%, #3d3379 100%); */
    width: 100%;
    padding-bottom: 10px;
    color: #1A1A43;
}

.order-header {
    text-align: left;
}

.btn-menu {
    margin-top: 22px;
    margin-left: 8px;
}

button#update-total-button.btn.btn-primary {
    margin-bottom: 5px;
}

input {
    margin-right: 10px;
}

body {
    background: #fff;
}

.add-menu-item-form {
    margin-top: 10px;
}

.order-total {
    width: 25%;
    float: right;
}


/*Signin Page  */

input#inlineFormInput.form-control {
    margin-bottom: 10px;
    width: 25%;
}

form#signin.form-group {
    width: 25%;
}

input#name.form-control {
    margin-bottom: 10px;
}

input#password.form-control {
    margin-bottom: 10px;
}